.contact-container {
    /* Image + fallback */
    background-image: url("../../assets/mapbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.contact-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contact-heading-text {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 6rem;
    /* color: #D3A40A; */
    color: #51D4FF;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Ethnocentric", sans-serif;
}


@media (max-width: 768px) {
    .contact-heading-text {
        font-size: 40px;
        letter-spacing: 2px;
    }
}

.contact-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}