@font-face {
  font-family: 'Ethnocentric';
  src: url('../assets/fonts/Ethnocentric-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aldrich';
  src: url('../assets/fonts/Aldrich Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.card-item {
  scale: 1.1;
  background: linear-gradient(240deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 100%);
  width: 300px;
  clip-path: polygon(0 0,
      200px 0,
      210px 10px,
      280px 10px,
      290px 0,
      100% 0,
      100% 150px,
      290px 160px,
      290px 300px,
      100% 310px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      0 100%,
      0 400px,
      10px 390px,
      10px 100px,
      0 90px);
  transition: all 0.2s linear;
  filter: drop-shadow(0 0 2px #FF4B33) drop-shadow(0 0 10px #FF4B33);
  font-family: "";
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item-img-shadow {
  filter: drop-shadow(#FF4B33 0px 0px 10px);
}

.card-item-img-shadow img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 30px;
  clip-path: polygon(0 0,
      100% 0,
      100% 100%,
      30px 100%,
      0 calc(100% - 30px));
}

.card-item-content {
  margin: 0px 30px;
  color: rgb(211, 211, 211);
}

.card-item-content h2 {
  font-size: 23px;
  color: #FF4B33;
  text-align: center;
  font-family: 'Ethnocentric', sans-serif;
  ;
}

.card-item-content p {
  margin: 10px 0px;
  letter-spacing: 2px;
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}



.card-item-button-shadow {
    filter: drop-shadow(rgba(255, 75, 51, 0.767) 0px 0px 5px);
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    width: 15rem;
    height: 3rem;
    margin-bottom: 10px;
}

.card-item-button-shadow:hover {
  filter: drop-shadow(#FF4B33 0px 0px 4px);
}

.card-item-button {
  position: relative;
  display: flex;
  justify-content: center;
align-items: center;
  gap: 10px;
  flex-direction: row;
  padding: 10px ;
  /* margin: 5px; */
  color: #FF4B33;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}

.card-item-button:hover {
  background: #ff4b33b9;
  color: #050801;
  box-shadow: 0 0 1px #FF4B33, 0 0 2px #FF4B33, 0 0 3px #FF4B33;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.card-item-button span {
  position: absolute;
  display: block;
}

.card-item-button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF4B33);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.card-item-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF4B33);
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.card-item-button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FF4B33);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.card-item-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FF4B33);
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


@media (max-width: 1024px) {

  .card-item {
    scale: 0.95;
    background: linear-gradient(240deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 100%);
    width: 300px;
    clip-path: polygon(0 0,
        200px 0,
        210px 10px,
        280px 10px,
        290px 0,
        100% 0,
        100% 150px,
        290px 160px,
        290px 300px,
        100% 310px,
        100% calc(100% - 30px),
        calc(100% - 30px) 100%,
        0 100%,
        0 400px,
        10px 390px,
        10px 100px,
        0 90px);
    transition: all 0.2s linear;
    filter: drop-shadow(0 0 2px #FF4B33) drop-shadow(0 0 10px #FF4B33);
    font-family: "Jost", sans-serif;
  }
}

@media (max-width: 993px) {

  .card-item {
    scale: 0.9;
    background: linear-gradient(240deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 100%);
    width: 300px;
    clip-path: polygon(0 0,
        200px 0,
        210px 10px,
        280px 10px,
        290px 0,
        100% 0,
        100% 150px,
        290px 160px,
        290px 300px,
        100% 310px,
        100% calc(100% - 30px),
        calc(100% - 30px) 100%,
        0 100%,
        0 400px,
        10px 390px,
        10px 100px,
        0 90px);
    transition: all 0.2s linear;
    filter: drop-shadow(0 0 2px #FF4B33) drop-shadow(0 0 10px #FF4B33);
    font-family: "Jost", sans-serif;
  }

}

@media (max-width: 425px) {

  .card-item {
    scale: 0.74;
    background: linear-gradient(240deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 100%);
    width: 300px;
    clip-path: polygon(0 0,
        200px 0,
        210px 10px,
        280px 10px,
        290px 0,
        100% 0,
        100% 150px,
        290px 160px,
        290px 300px,
        100% 310px,
        100% calc(100% - 30px),
        calc(100% - 30px) 100%,
        0 100%,
        0 400px,
        10px 390px,
        10px 100px,
        0 90px);
    transition: all 0.2s linear;
    filter: drop-shadow(0 0 2px #FF4B33) drop-shadow(0 0 10px #FF4B33);
    font-family: "Jost", sans-serif;
  }
}