/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= APP CONTAINER ================= */
.app-container {
  width: 100%;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

/* ================= SPONSORS SECTION ================= */
.sponsors-section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/sponsorBg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  background-position: 100% 100%;
}

/* ================= LEFT SIDE ================= */
.sponsors-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 18vh;
}

/* ---------- LEFT UPPER ---------- */
.left-upper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 780px;
}

/* ---------- TITLE + BUTTON ---------- */
.upper-head {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* RNXG TEXT */
.title {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.title p {
  font-size: 55px;
  font-weight: 800;
  /* letter-spacing: 0.3px; */
  text-transform: uppercase;
  color: #51D4FF;
}

/* LONG UNDERLINE */
.Rnxg-underline {
  width: 508px;
  height: 2px;
  background: linear-gradient(91deg, #ffffff, rgba(255, 255, 255, 0.2));
  border-radius: 16px;
}

.Spon-underline {
  width: 508px;
  height: 2px;
  background: linear-gradient(91deg, #ffffff, rgba(255, 255, 255, 0.2));
  border-radius: 16px;
}

/* ---------- EXPLORE BUTTON ---------- */
.exploreBtn img {
  width: 249px;
  cursor: pointer;
  transition: transform 0.75s ease, filter 0.35s ease;
  margin-top: 28px;
}

.exploreBtn:hover img {
  transform: scale(1.1) translateY(-2px);
  filter: drop-shadow(0 0 18px rgba(0, 255, 255, 0.7));
}

/* ---------- GLASS DESCRIPTION ---------- */
.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(-15px);
  border-radius: 22px;
  border: 0px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.desc p {
  font-size: 16px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.9);
}





/* ---------- LEFT DOWN ---------- */

/* ---------- LEFT UPPER ---------- */
.left-down {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 780px;
}

/* ---------- TITLE + BUTTON ---------- */
.down-head {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* ================= RIGHT SIDE ================= */
.sponsors-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  position: relative;
  /*this line added extra*/
}


.vector-line {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  /* opacity: 97.8; */
  pointer-events: none;
}

/* ---------- SLIDER WRAPPER ---------- */
.vertical-slider-wrapper {
  /* transform: rotate(90deg); */
  min-width: 754px;
  width: 100%;
  padding: 2rem 0;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {
  .title p {
    font-size: 45px;
  }

  .Rnxg-underline {
    width: 325px;
  }

  .Spon-underline {
    width: 410px;

  }

  .desc p {
    font-size: 15px;
  }

  .exploreBtn img {
    width: 205px;
    cursor: pointer;
    transition: transform 0.75s ease, filter 0.35s ease;
    margin-top: 18px;
  }

  .glass {
    padding: 15px;
  }
}




@media (max-width: 768px) {
  .sponsors-section {
    flex-direction: column;
  }

  .sponsors-left,
  .sponsors-right {
    width: 100%;
    padding: 40px 25px;
  }

  /* 
  .vertical-slider-wrapper {

    max-width: 100%;
  } */

  .Spon-underline {
    width: 500px;

  }

  .title p {
    font-size: 48px;
  }

  .upper-head {
    flex-direction: row;
    align-items: flex-start;
    gap: 155px;
  }

  .glass {
    padding: 15px;
    max-width: 96%;
  }

  .sponsors-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 13vh;
}

.sponsors-right img {
  display: none;
}








}