body {
    margin: 0;
    background: #000;
    overflow-x: hidden;
}

.navbar {
    font-family: "orbitron", sans-serif;
    position: relative;
    width: 100%;
    height: 96px;
    overflow: hidden;
}

/* SVG BACKGROUND */
.navbar-svg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    min-width: 1440px;
    height: 96px;
    transform: translateX(-50%);
    background: url("/src/assets/navbarblue.svg") no-repeat center top;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 1;
}

/* GRID */
.navbar-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 280px minmax(0, 1fr);
    align-items: center;
    padding: 0 60px;
}

/* LEFT / RIGHT */
.nav-left,
.nav-right {
    display: flex;
    align-items: center;

}

.nav-left {
    gap: clamp(80px, 10vw, 150px);
    justify-content: flex-start;
    padding-left: clamp(20px, 5vw, 80px);
}

.nav-right {
    justify-content: flex-end;
    padding-right: 20px;
    gap: clamp(40px, 6vw, 100px);
}

.left-logo {
    width: 52px;
    flex-shrink: 0;
    /* position:fixed; */
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: clamp(32px, 5vw, 80px);
}

.nav-links a,
.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

/* underline */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #51D4FF;
    transition: width 0.25s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.nav-links a.active {
    color: #51D4FF;
}

/* HAMBURGER */
.hamburger {
    display: none;
    position: absolute;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.hamburger span {
    display: block;
    width: 26px;
    height: 2px;
    background: #fff;
    margin: 5px 0;
    transition: 0.3s;
}

.hamburger.is-active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/*tablet breakpoint*/

@media (max-width: 1200px) {
    .navbar-content {
        padding: 0 32px;
    }

    .nav-links a {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .navbar-content {
        grid-template-columns: 1fr 240px 1fr;
    }

    .nav-links {
        gap: 32px;
    }

    .nav-left {
        gap: 48px;
    }

    .nav-right {
        gap: 48px;
    }
}


/* MOBILE MENU */
.mobile-menu {
    display: none;
    position: absolute;
    top: 96px;
    width: 100%;
    background: #000;
    padding: 30px 0;
    text-align: center;
    z-index: 4;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu li {
    margin: 16px 0;
}

.mobile-menu a.active {
    color: red;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar-content {
        padding: 0 20px;
    }

    .nav-center {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}