

html, body{
  width:100vw;
  height:100vh;
  overflow:hidden;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:1em;
  z-index:10;
}

nav div{
  display:flex;
  gap:10em;
}

nav a{
  text-decoration:none;
  color:#000;
  font-family:"science gothic";
  font-weight:500;
}

.header{
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:2em;
  padding-bottom:0.5em;
}

.h1{
  font-family:"science gothic";
  font-size:10vw;
  color:#1a1a1a;
}

.hero2{
  width:calc(100vw - 6em);
  margin:0 auto;
}

.hero2 img{
  width:100%;
  height:100%;
  object-fit:cover;
  border:2px solid #1a1a1a;
  border-radius:12px;
}

.overlay2{
   position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: #000; /* fallback */
}



.bar{
 flex:1;
  height:100vh;
  overflow:hidden;
}

.bar img{
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
}

.counter{
 position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000000;
  padding: 0.2em 0.4em;
  font-family: "science gothic", sans-serif;
  font-weight: 900;
  font-size: 10vw;
  color: #eee5e6;
  pointer-events: none;
}

.overlay2 {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 2;
}

.bar {
  flex: 1;                /* normal bar = 1 unit */
  height: 100vh;
  overflow: hidden;
}

.bar-double {
  flex: 1;                /* all bar sizes equal */
}

.bar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}


/* Mobile- screns less than425 px */
@media (max-width: 425px) {

  /* Hide extra bars → keep 3 */
  .overlay2 .bar:nth-child(1),
  .overlay2 .bar:nth-child(5) {
    display: none;
  }

  /* Ensure remaining bars are equal */
  .overlay2 .bar {
    flex: 1;        /* all equal width */
    display: block;
  }

  /* Make sure middle is NOT dominant */
  .overlay2 .bar-double {
    flex: 1;
  }
}
