*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html, body{
  width:100vw;
  height:100vh;
  overflow:hidden;
  background:#eee5e6;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:1em;
  z-index:10;
}

nav div{
  display:flex;
  gap:10em;
}

nav a{
  text-decoration:none;
  color:#000;
  font-family:"science gothic";
  font-weight:500;
}

.header{
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:2em;
  padding-bottom:0.5em;
}

.h1{
  font-family:"science gothic";
  font-size:10vw;
  color:#1a1a1a;
}

.hero{
  width:calc(100vw - 6em);
  margin:0 auto;
}

.hero img{
  width:100%;
  height:100%;
  object-fit:cover;
  border:2px solid #1a1a1a;
  border-radius:12px;
}

.overlay{
  position:fixed;
  inset:0;
  display:flex;
  z-index:2;
}

.bar{
  width:calc(100vw / 6);
  height:100vh;
  overflow:hidden;
}

.bar img{
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
}

.counter{
  position:fixed;
  inset:0;
  display:flex;
  align-items:flex-end;
  justify-content:flex-end;
  z-index:10000;
  color:#eee5e6;
  padding:0.2em 0.4em;
  font-family:"science gothic";
  font-weight:900;
  font-size:10vw;
}
