/* ================= CONTAINER ================= */
.vertical-slider-container {
  width: 100%;
  height: 560px; /* 🔥 controls total slider height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* ================= SWIPER ================= */
.vertical-swiper {
  width: 100%;
  height: 100%;
  transform: scale(1.13);   /* 🔥 overall scale */
  transform-origin: center;
}


/* ================= SLIDE ================= */
.vertical-slide {
  height: 10px; /* 🔥 CONTROL INDIVIDUAL SLIDE HEIGHT */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: transform 0.7s ease, opacity 0.4s ease;
  
}


/* ================= TEXT ================= */
.slide-text {
  margin-top: 5px;
  font-size: 10px;
  color: white;
  text-align: center;
  letter-spacing: 0.5px;
}

/* ================= ACTIVE SLIDE ================= */
.vertical-slide.active-slide {
  opacity: 1;
  transform: scale(1.5);
  z-index: 10;
  
}





/* ================= IMAGE ================= */
.vertical-slide img {
  width: 170px; /* 🔥 CONTROL LOGO SIZE */
  height: 170px;
  object-fit: contain;
  
}



@media (max-width: 1024px) {

  /* .vertical-slide img {
  width: 120px; 
  height: 140px;
  object-fit: contain;
}
  .vertical-slider-container {
    height: 500px;
  }

  .vertical-slide {
    height: 120px;
  }

  .vertical-slide.active-slide {
    transform: scale(1);
  }
 */


.vertical-swiper {
  width: 100%;
  height: 100%;
  transform: scale(1);   /* 🔥 overall scale */
  transform-origin: center;
}

  /* ACTIVE SLIDE – increase width */
/* .vertical-slide.active-slide {
  opacity: 1;
  transform: scale(1.25, 1.15);
  z-index: 10;
} */

}

@media (max-width: 900px) {
  .vertical-slider-container {
    height: 380px;
  }

  .vertical-slide {
    height: 120px;
  }

  .vertical-slide.active-slide {
    transform: scale(1);
  }

  .vertical-slide img {
    width: 110px;
  }


  /* ACTIVE SLIDE – increase width */
.vertical-slide.active-slide {
  opacity: 1;
  transform: scale(1.25, 1.15); /* 🔥 width , height */
  z-index: 10;
}

}


