body {
  margin: 0%;
  padding: 0%;
}

.accom-bg {
  width: 100%;
  height: 100vh;
  background-image: url('/bgg.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.accom-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.accom-accommodation {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: 800;
  color: #51D4FF;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  font-family: "Ethnocentric", sans-serif;
}

.accom-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  font-family: "Ethnocentric", sans-serif;
}

.accom-left {
  width: 350px;
  height: 300px;
  background-image: url('/left.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.accom-right {
  width: 300px;
  height: 400px;
  background-image: url('/right.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Responsive Design */
/* Tablets */
@media (max-width: 1024px) {
  .accom-accommodation {
    font-size: 3rem;
  }

  .accom-soon {
    font-size: 4.3rem;
  }

  .accom-left {
    width: 230px;
    height: 210px;
  }

  .accom-right {
    width: 210px;
    height: 270px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .accom-accommodation {
    font-size: 3rem;
    top: 30%;
  }

  .accom-soon {
    font-size: 3.2rem;
    top: 55%;
  }

  .accom-left {
    width: 270px;
    height: 230px;
  }

  .accom-right {
    width: 210px;
    height: 280px;
  }
}




/* Small Mobile */
@media (max-width: 480px) {
  .accom-accommodation {
    font-size: 1.55rem;
    top: 30%;
  }

  .accom-soon {
    font-size: 2rem;
    top: 50%;
  }

  .accom-left {
    width: 200px;
    height: 150px;
  }

  .accom-right {
    width: 140px;
    height: 190px;
  }
}