body {
  font-family: 'Saira Stencil One', sans-serif;
  margin: 0%;
  padding: 0%;
}

.bg {
  width: 100%;
  height: 100vh;
  background-image: url('/bgg.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.accommodation {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

.soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

.left {
  width: 350px;
  height: 300px;
  background-image: url('/left.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  width: 300px;
  height: 400px;
  background-image: url('/right.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Responsive Design */
/* Tablets */
@media (max-width: 1024px) {
  .accommodation {
    font-size: 3rem;
  }
  .soon {
    font-size: 4.3rem;
  }
  .left {
    width: 230px;
    height: 210px;
  }
  .right {
    width: 210px;
    height: 270px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .accommodation {
    font-size: 2rem;
    top: 30%;
  }
  .soon {
    font-size: 3.5rem;
    top: 55%;
  }
  .left {
    width: 190px;
    height: 170px;
  }
  .right {
    width: 150px;
    height: 200px;
  }
}
