/* @font-face {
  font-family: 'Ethnocentric';
  src: url('../Ethnocentric-Regular.woff2') format('woff2');
  
} */

/* @font-face {
  font-family: 'Ethnocentric';
  src: url('/Ethnocentric-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
