@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");

.card {
  background: linear-gradient(240deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%);
  width: 300px;
  clip-path: polygon(
    0 0,
    200px 0,
    210px 10px,
    280px 10px,
    290px 0,
    100% 0,
    100% 150px,
    290px 160px,
    290px 300px,
    100% 310px,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 400px,
    10px 390px,
    10px 100px,
    0 90px
  );
  transition: all 0.2s linear;
  filter: drop-shadow(rgb(26, 234, 249) 0px 0px 10px);
  font-family: "Jost", sans-serif;
}

.card:hover {
  transform: scale(1.1);
}

.card-img-shadow {
  filter: drop-shadow(rgb(43, 216, 255) 0px 0px 10px);
}

.card-img-shadow img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 30px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    30px 100%,
    0 calc(100% - 30px)
  );
}

.card-content {
  margin: 0px 30px;
  color: rgb(211, 211, 211);
}

.card-content h2 {
  color: #51D4FF;
  text-align: center;
}

.card-content p {
  margin: 10px 0px;
  letter-spacing: 2px;
}

.button-shadow {
  filter: drop-shadow(rgba(0, 204, 255, 0.767) 0px 0px 5px);
  transition: all 0.2s ease-in;
}

.button-shadow:hover {
  filter: drop-shadow(rgb(0, 195, 255) 0px 0px 10px);
}

.card-button {
text-align: center;
    margin: 20px 0px;
    padding: 10px 0px;
    background: linear-gradient(45deg, rgb(127 242 255) 0%, rgb(0 117 158) 100%);
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.card-button:hover {
  color: white;
}
